*{
    font-family: 'Mulish', sans-serif;
}

#left{
    background-image: linear-gradient(rgba(89, 7, 221, 0.5), rgba(58, 4, 128, 0.5)) ,url('https://images.unsplash.com/photo-1534809027769-b00d750a6bac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
    background-position: center;
    height: 1024px;
    color: white;
}

#tickitz{
    position: relative;
    width: 276px;
    height: 104px;
    left: 112px;
    top: 80px;
}

#text1{
    position: absolute;
    width: 535px;
    height: 60px;
    left: 112px;
    top: 285px;

    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.003em;
}

#text2{
    position: absolute;
    width: 555px;
    height: 80px;
    left: 112px;
    top: 367px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: rgba(255, 255, 255, 0.7);
}

#button1, #button2, #button3{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    color: white;
}

#button1{
    left: 112px;
    top: 505px;
}

#button2{
    left: 112px;
    top: 601px;
}

#button3{
left: 112px;
top: 696px;
}

#button1:hover, #button2:hover, #button3:hover{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-color: white;
    background-color: white;
    color: black;
}

#button1:focus, #button2:focus, #button3:focus{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    border-color: white;
    color: black;
}

#text-button1,#text-button2,#text-button3{
    position: absolute;
    width: 292px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
}

#text-button1{
    color: white;
    left: 204px;
    top: 516px;
}

#text-button2{
    left: 204px;
    top: 611px;
    color: rgba(255, 255, 255, 0.6);
}

#text-button3{
    left: 204px;
    top: 706px;
    color: rgba(255, 255, 255, 0.6);
}

#line1, #line2{
    position: absolute;
    width: 48px;
    height: 0px;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

#line1{
    left: 112px;
    top: 577px;
}

#line2{
    left: 112px;
    top: 673px;
}

#text3{
    margin-top: 65%;
    margin-bottom: 10%;
    font-weight: bold;
}

.form-check-input:checked{
    background-color: #5F2EEA;
}


#button4{
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #F7F7FC;

    background-color: #5F2EEA;
    border-color: white;
    border-radius: 10px;
    width: 100%;
}

form{
    width:60%;
    margin-left: 10%;
}

.form-group{
    margin-bottom: 5%;
}

.form-check{
    margin-bottom: 5%;
}

.form-control{
    border-radius: 10px;
    margin-top: 5%;

}

#text4{
    font-weight: bolder;
    margin: 5%;

    width: 306px;
    height: 19px;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;

    color: #696F79;
}

#button5, #button6{
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
    width: 30%;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.005em;

    /* Placeholder */

    color: #A0A3BD;
    background-color: white;
}

#button5{
    margin-left: 10%;
}