*{
    font-family: 'Mulish', sans-serif;
}

#button{
    background-color: #5F2EEA;
    border-color: #5F2EEA;
    border-radius: 10px;
}

.container .row .col .lead{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #A0A3BD;

    margin-top: 200px;
}

.container .row .col .display-4{
    color: #5F2EEA;
    font-size: 55px;
    font-weight: bold;
}

#mini1, #mini2, #mini3{
    width: 107px;
    height: 352px;
    border-radius: 10px;
}

#mini1{
    margin-top: 116px;
    margin-right: 24px;
}

#mini2{
    margin-top: 80px;
    margin-right: 24px;
}

#mini3{
    margin-top: 48px;
}

.cardbox{
    padding: 16px;
    border-radius: 10px;
    text-align: center;
}

#view-all1, #view-all2{
    margin-left: 886px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.15px;

    color: #5F2EEA;
    border: none;
    background-color: transparent;
}

#view-all1{
    margin-bottom: 74px;
}

#view-all2{
    margin-bottom: 42px;
}

.container2{
    margin-top: 208px;
}


.container2 .row .btn-outline-primary{
    color: #5F2EEA;
    font-weight: bold;
    border-color: #5F2EEA;
    margin-right: 16px;
    width: 120px;
    height: 42px;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
}

.container2 .row .btn-outline-primary:hover{
    color: white;
    background-color: #5F2EEA;
    font-weight: bold;
}

.card-img-top{
    border-radius: 10px;
    padding: 16px;
}

.card-body{
    text-align: center;
}

.card-title{
    font-weight: bold;
}

.card-text{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #A0A3BD;
}

.container3{
    text-align: center;
    margin-top: 218px;
    margin-bottom: 96px;
}

.text-join{
    margin-left: 442px;
}

#submit-email{
    margin-left: 400px;
    margin-top: 48px;
    margin-bottom: 40px;
}

#moviegoers{
    font-size: 48px;
    color: #5F2EEA;
    font-weight: bolder;
}

.movie-title{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.movie-genre{
    font-size: 12px;
}

#vanguard{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 114%;

text-align: center;
letter-spacing: 0.25px;

color: #4E4B66;
}

.member-text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    margin-left: 360px;
    text-align: center;
    letter-spacing: 0.75px;
    margin-bottom: 48px;
}

.container4{
    margin-top: 96px;
}

.slogan{
    margin-top: 108.53px;
}

.slogantext{
font-weight: normal;
font-size: 14px;
line-height: 32px;

letter-spacing: 0.75px;

color: #6E7191;
}

.explore{
    margin-top: 109.1px;
    margin-left: 88px;
}

.footer-font{
    font-size: 14px;
    line-height: 18px;
    
    letter-spacing: 0.5px;
        
    color: #4E4B66;
    margin-bottom: 14.7px;
}

.our-sponsor{
    margin-top: 109.1px;
}

.sponsor{
    margin-bottom: 25px;
}

.follow-us{
    margin-top: 109.1px;
}

.footer-tickitz{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.5px;

    /* Text - Body */

    color: #4E4B66;
    margin-top: 50.38px;
    margin-bottom: 47.4px;
}
